[submodule "components/arduino"]
	path = components/arduino
	url = git@github.com:espressif/arduino-esp32.git

[submodule "components/LovyanGFX"]
	path = components/LovyanGFX
	url = https://github.com/lovyan03/LovyanGFX.git